<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

    <properties>
        <title>Transform files list</title>
    </properties>

    <body>
        <section name="Transform files list to file with JavaScript imports">
            <p>
                This example shows how to use the <a href="../transformList-mojo.html">transformList</a> goal to generate
                a <code>import-scripts.jsp</code> file with JavaScript imports. POM define application which
                can be build in two modes:
            </p>
            <ol>
                <li>production - merge and minify all JavaScript files to one file (<code>all.js</code>)</li>
                <li>development - include all not minified scripts (great for debug)</li>
            </ol>
            <pre>&lt;project&gt;
   ...
   &lt;properties&gt;
      &lt;!-- disable development mode (production be default) --&gt;
      &lt;mode.development&gt;false&lt;/mode.development&gt;
      &lt;!-- minify-maven-plugin requires exclusion processed files --&gt;
      &lt;war.excludes&gt;js/**/*&lt;/war.excludes&gt;
   &lt;/properties&gt;
   ...
   &lt;build&gt;
      &lt;plugins&gt;
         ...
         &lt;plugin&gt;
            &lt;artifactId&gt;maven-war-plugin&lt;/artifactId&gt;
            &lt;configuration&gt;
               &lt;excludes&gt;${war.excludes}&lt;/excludes&gt;
            &lt;/configuration&gt;
         &lt;/plugin&gt;
         &lt;plugin&gt;
            &lt;groupId&gt;com.samaxes.maven&lt;/groupId&gt;
            &lt;artifactId&gt;minify-maven-plugin&lt;/artifactId&gt;
            &lt;version&gt;1.7.4&lt;/version&gt;
            &lt;executions&gt;
               &lt;execution&gt;
                  &lt;goals&gt;
                     &lt;goal&gt;minify&lt;/goal&gt;
                  &lt;/goals&gt;
                  &lt;configuration&gt;
                     &lt;!-- includes all files from src/main/webapp/js directory --&gt;
                     &lt;jsSourceDir&gt;js&lt;/jsSourceDir&gt;
                     &lt;jsIncludes&gt;
                        &lt;jsInclude&gt;**/*&lt;/jsInclude&gt;
                     &lt;/jsIncludes&gt;
                     &lt;!-- save merged and minified JavaScript to /target/&lt;full-application-name&gt;/js/all.js --&gt;
                     &lt;jsFinalFile&gt;all.js&lt;/jsFinalFile&gt;
                     &lt;!-- max 100 characters per line --&gt;
                     &lt;yuiLineBreak&gt;100&lt;/yuiLineBreak&gt;
                     &lt;!-- disable plugin in development mode --&gt;
                     &lt;skipMerge&gt;${mode.development}&lt;/skipMerge&gt;
                     &lt;skipMinify&gt;${mode.development}&lt;/skipMinify&gt;
                     &lt;!-- disable creation of all.min.js (save minified code to all.js) --&gt;
                     &lt;nosuffix&gt;true&lt;/nosuffix&gt;
                  &lt;/configuration&gt;
               &lt;/execution&gt;
            &lt;/executions&gt;
         &lt;/plugin&gt;
      &lt;/plugins&gt;
   &lt;/build&gt;
   &lt;profiles&gt;
      &lt;profile&gt;
         &lt;id&gt;DEVELOPMENT&lt;/id&gt;
         &lt;properties&gt;
            &lt;!-- enable development mode --&gt;
            &lt;mode.development&gt;true&lt;/mode.development&gt;
            &lt;!-- file with all.js import will be replaced by generated by ${project.artifactId} --&gt;
            &lt;!-- this value also removes exclusion of js/**/* files --&gt;
            &lt;war.excludes&gt;WEB-INF/import-scripts.jsp&lt;/war.excludes&gt;
         &lt;/properties&gt;
         &lt;build&gt;
            &lt;plugins&gt;
               &lt;plugin&gt;
                  &lt;groupId&gt;${project.groupId}&lt;/groupId&gt;
                  &lt;artifactId&gt;${project.artifactId}&lt;/artifactId&gt;
                  &lt;version&gt;${project.version}&lt;/version&gt;
                  &lt;executions&gt;
                     &lt;execution&gt;
                        &lt;goals&gt;
                           &lt;goal&gt;transformList&lt;/goal&gt;
                        &lt;/goals&gt;
                        &lt;configuration&gt;
                           &lt;!-- includes all files from src/main/webapp/js directory --&gt;
                           &lt;sourceDirectory&gt;src/main/webapp/js&lt;/sourceDirectory&gt;
                           &lt;includes&gt;
                              &lt;include&gt;**/*&lt;/include&gt;
                           &lt;/includes&gt;
                           &lt;!-- save imports list to import-scripts.jsp --&gt;
                           &lt;!-- this file will not be overwrite because is excluded for maven-war-plugin --&gt;
                           &lt;outputFile&gt;\${project.build.directory}/\${project.artifactId}-\${project.version}/WEB-INF/import-scripts.jsp&lt;/outputFile&gt;
                           &lt;xsltFile&gt;import-scripts.xsl&lt;/xsltFile&gt;
                           &lt;separator&gt;/&lt;/separator&gt;
                        &lt;/configuration&gt;
                     &lt;/execution&gt;
                  &lt;/executions&gt;
               &lt;/plugin&gt;
            &lt;/plugins&gt;
         &lt;/build&gt;
      &lt;/profile&gt;
   &lt;/profiles&gt;
&lt;project&gt;</pre>
            <p>
                <code>src/main/webapp/WEB-INF/import-scripts.jsp</code> content:
            </p>
            <pre>&lt;%-- maven will ignore this and create another file in development mode (more information in pom.xml) --%&gt;
&lt;script src="js/all.js"&gt;&lt;/script&gt;</pre>
            <p>
            	<code>import-scripts.xsl</code> content:
            </p>
            <pre>&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform"&gt;
   &lt;xsl:output method="html" /&gt;

   &lt;xsl:template match="/files"&gt;
      &lt;xsl:apply-templates select="file" /&gt;
   &lt;/xsl:template&gt;

   &lt;xsl:template match="file"&gt;
      &lt;xsl:text disable-output-escaping="yes"&gt;&lt;![CDATA[&lt;script src="/js/]]&gt;&lt;/xsl:text&gt;
      &lt;xsl:value-of select="fullPath" /&gt;
      &lt;xsl:text disable-output-escaping="yes"&gt;&lt;![CDATA["&gt;&lt;/script&gt;]]&gt;&amp;#10;&lt;/xsl:text&gt;
   &lt;/xsl:template&gt;
&lt;/xsl:stylesheet&gt;</pre>
        </section>
    </body>
</document>
