<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

    <properties>
        <title>Introduction</title>
    </properties>

    <body>
        <section name="About">
            <p>
                Provides a collection of tools for working with directories.
            </p>
        </section>
        <section name="Goals Overview" id="goals-overview">
            <ul>
                <li>
                    <a href="copy-mojo.html">directory-content:copy</a> - copies files from source to output directory
                </li>
                <li>
                    <a href="copyFile-mojo.html">directory-content:copyFile</a> - copies file from source to output directory (allow to change name)
                </li>
                <li>
                    <a href="transformList-mojo.html">directory-content:transformList</a> - transforms files list to a document using
                    <a href="http://www.w3.org/TR/xslt">XSLT</a> technology
                </li>
                <li>
                    <a href="transformMetadata-mojo.html">directory-content:transformMetadata</a> - transforms files metadata to documents using
                    <a href="http://www.w3.org/TR/xslt">XSLT</a> technology
                </li>
            </ul>
        </section>
        <section name="Requirements">
            <p>
                The plugin to run requires:
            </p>
            <ul>
                <li>Java 8 or higher</li>
                <li>Maven 3.3.9 or higher</li>
            </ul>
        </section>
        <section name="Usage">
            <p>
                General instructions on how to use the ${project.name} can be found on the <a href="usage.html">usage</a> page. Some more specific
                use cases are described in the examples given below. Last but not least, users occasionally contribute additional examples, tips
                or errata to the plugin's <a href="https://github.com/gabrysbiz/directory-content-maven-plugin/wiki">wiki</a> page.
            </p>
            <p>
                In case you still have questions regarding the plugin's usage, please have a look at the <a href="faq.html">FAQ</a>.
            </p>
            <p>
                If you feel like the plugin is missing a feature or has a defect, you can fill a feature request or bug report in the
                <a href="issue-management.html">issue tracker</a>. When creating a new issue, please provide a comprehensive description of your concern.
                Especially for fixing bugs it is crucial that the developers can reproduce your problem. For this reason, entire debug logs,
                POMs or most preferably little demo projects attached to the issue are very much appreciated. Of course, patches are also welcome.
                Contributors can check out the project from the <a href="scm.html">source repository</a> and will find supplementary information
                in the <a href="http://maven.apache.org/guides/development/guide-helping.html">guide to helping with Maven</a>.
            </p>
        </section>
        <section name="Examples">
            <p>
                To provide you with better understanding of some usages of the ${project.name}, you can take a look into the following examples:
            </p>
            <ul>
                <li><a href="examples/patterns.html">Using include/exclude patterns</a></li>
                <li><a href="examples/copy.html">Copies files from source to output directory</a></li>
                <li><a href="examples/copyFile.html">Copies file to output directory with a new name</a></li>
                <li><a href="examples/transform-list.html">Transform files list to file with JavaScript imports</a></li>
                <li><a href="examples/transform-metadata.html">Transform files metadata to download files</a></li>
            </ul>
            <p>
                You can also fetch example projects from <a href="https://github.com/gabrysbiz/directory-content-maven-plugin-examples">GitHub</a>.
            </p>
        </section>
    </body>
</document>
